<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>
    <header>
        <h1>Название вашего магазина</h1>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog">Магазин</a></li>
                <li><a href="/cart">Корзина</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Добро пожаловать в наш интернет-магазин!</h2>
        <!-- Здесь будет контент вашего магазина -->
    </main>

    <footer>
        <p>&copy; 2021 Все права защищены</p>
    </footer>
    <script src="static/js/script.js"></script>
</body>
</html>
